
/*css Document*/
*{margin:0; padding:0; font-size:12px;}

/*******header******/
header{
	height:185px;
	}
.top{
	width:1000px;
	line-height:40px;
	margin:0 auto;
	}
.leftarea{
	float:left;
	}
.rightarea{
	float:right;
	}
.top a:link,.top a:hover,.top a:visited{
	color:black;
	font-weight:700;
	font-size:18px;
	}
.top_bar{
	width:100%;
	height:50px;
	background-color:#fff;
	}
.leftarea{
	float:left;
	}
.ywzt{
	font-size:10px; 
	padding-right:20px;
	color:#fff;
	font-size:14px;
	}
.rightarea{
	float:right;
	}


/******logo*****/
.logo{
	  clear:both;
	  width:1290px;
	  height:110px;
	  margin:0 auto; 
	  background:url(../images/vans-logo.svg)  no-repeat;
	  background-size: contain;
	}

.search_bar{
	float:right; 
	margin:45px 0 20px;
	 margin-right:100px;
	}
.int{
	  width:200px;
     border:1px solid #ccc;
     height:27px;
     line-height:22px; 
      padding-left:5px; 
     background-color:#fff;
 }
.btn{
	padding:0px 10px;
	line-height:27px;
	border:1px solid #ccc;
	border-left: 1px solid transparent;
	background-color:#fff;
	color:black;}

/******nav*****/
.nav_bar{
	    clear:both;
		width:100%;
		margin:0px auto;
		height:42px; 
		background-color:#F9F9F9;
		line-height:42px;
		border:1px solid #ccc;
		} 
.nav{width:100px;}





/*ad*/
.ad{
	clear:both;
	width:100%;
	height:456px; 
	margin:0 auto;
	position:relative;
	}


.news_title{
	width:220px;
	height:35px; 
	background-color:#F1F3F4;
	border-radius:3px 4px 0px 0px; 
}
.news_title h4{
	height:35px;
	line-height:35px;
	text-align:left; 
	font-size:14px; 
	color:#fff;
	}


#bg{

    width:100%;
    height:434px;
}

/*****sy_main*****/
.sy_main{clear:both;width:1000px; min-height:480px; _height:480x; margin:50px auto 30px;}
.main{clear:both;width:1000px; min-height:350px; _height:350x; margin:50px auto 30px;}
.sy_product{width:1000px;min-height:480px;_height:480px;margin:0 auto 20px; clear:both;}
.bt{width:1000px; height:50px; line-height:50px;margin-bottom:10px;  font-weight:800; color:#28304f; }
.bt h3{text-align:center;height:50px; line-height:50px; font-size:20px;color:black; }

.pro_list{width:1000px; height:auto; clear:both;}
.pro_list li{ width:190px;height:255px;float:left; list-style-type:none;margin:10px 20px;}
.pro_list li img{padding:8px; border:1px solid #ecd1b8; border-radius:5px;}
.pro_list li p{width:185px; height:30px;line-height:30px;text-align:center; font-size:12px; text-indent:4px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑";}
.pro_list li a{color:#565656;  text-decoration:none;font-weight:400;font-size:16px;}
.pro_list li a:hover{color:#ee3213; font-size:16px;}




/***********footer************/
footer{clear:both; height:65px;background:url(../images/copy.jpg) repeat-x;margin-top:40px;  color:#fff; text-align:center;}
.ht{ font-size:14px; height:65px; line-height:65px; color:#fff; }

#content{clear:both;width:1000px;min-height:480px; _height:480; margin:0px auto 50px;}
section{width:740px;  float:right;}
aside{width:220px; float:left;margin-right:20px;}

.news_left{float:left;width:260px; margin-right:15px; min-height:500px; _height:500px;}
.wrap_right{float:right;width:700px;min-height:500px;_height:500px;margin-bottom:80px;}
.left-wrap{
	float:left;
}
/*****新闻****/
/*news*/
.news_title{height:45px; background:#DEE1E6;border-radius:3px 4px 0px 0px;}
.big_title{width:220px;}
.news_title h4{height:45px;line-height:45px;text-align:left; font-size:16px; color:#222;padding-left:20px; color:#fff;}
.fl{width:240px; margin-top:30px;}
.catgory{margin-top:20px; border:1px solid #9c6767; width:240px; border-radius:5px; index-z:999; position:absolute; top:0; left:0px;}
/*竖直菜单*/
.listmenu {
	width:220px;
	font-size:12px;
	text-align:center;
}

.listmenu li{
 list-style-type:none;
 margin:10px 0px;

 
}
.listmenu li a{
font-size:16px;
display:block;
height:1.5em;
padding:8px 0px 5px 0px;
text-decoration:none;
}
.listmenu li a:link, .listmenu li a:visited{
background-color:#4E97FF;
color:#fff;
}
.listmenu li a:hover{
background-color:#DEE1E6;
}
/*结束菜单*/

/*产品展示*/
.cp_list{width:710px;margin-top:20px; }
.cp_list li{ width:175px;height:185px; float:left;  margin:15px 20px; }
.cp_list li p{width:175px; height:30px; text-align:center;}


/*page*/
.page{ clear:both;height:40px;margin-top:40px;text-align:center; font-size:14px;}

.page a{ display:inline-block;height:40px; line-height:40px;margin:5px;padding:5px 10px;text-decoration:none;}
 
.page a:link,.page a:visited {color:#000;}

.page a:hover,.page a:active{color:#ff0000;}


/*商品详细页面*/
.dislist_box{ width:680px; height:285px; margin:30px 10px 30px; }
.dislist_pim{width:325px; float:left; border:1px solid #b7b7b8; padding:5px; margin:2px 15px 2px 0; background:#dee3fa; display:inline;}
.dislist_box h4 { font-size:14px; color:#222222; font-weight:bold; line-height:25px; text-decoration:none;font-weight:600;margin:20px 0px; }
.dislist_box p{ float:right;width:300px; color:#222; line-height:26px; text-align:left; text-indent:12px; font-size:12px; padding}
.miaoshu{width:680px; clear:both;margin:50px 10px;border:1px solid #b7b7b8; height:auto;}
.miaoshu h4{background:url(../images/ms_lm.jpg) repeat-x; font-size:12px; color:#dee3f;line-height:30px; text-indent:12px; font-weight:600; }

.miaoshu p{width:620px;margin:5px 20px; line-height:28px; text-align:left; text-indent:24px; font-size:12px; color:#454545; }


/*****reg****/
/*reg*/
.list_jh{ width:650px; margin:0px auto;}
.list_jh{height:35px;line-height:35px; border-bottom:1px solid #ccc; background-color:#fff;}
.list_jh li{width:95px;float:left; padding:0 5px;height:35px;line-height:35px; text-align:left;}
.reg_box{
           width:800px;
           min-height:420px; height:420px;
		   margin:50px auto 0px;}
.reg{   margin:1px auto;
         margin-bottom:30px;
		 text-align:center; 
		 width:398px;
		 background-color:#e9e9e9; 
		 color:#222;
         padding-top:10px;
		 border-radius:0px 0px 5px 5px;
		 padding-bottom:15px;
		 }
.login_putin{margin:30px auto 20px; text-align:center;}
.login_putin li{height:35px; line-height:35px;}
.login_putin input{width:120px; height:22px; line-height:22px; border:1px solid #565656;}
.login_btn{width:200px;margin:5px 5px; text-align:center; height:32px; vertical-align:middle;}
.l_button{width:65px;border-radius:5px;  height:32px;text-align:center; line-height:32px; border:1px solid #9c6767;float:left; margin-left:40px;vertical-align:middle ;}
.login_btn span a{float:right; display:block; width:72px; text-align:center;vertical-align:middle; height:25px; line-height:25px; padding-top:100px;}
.reg_inpt{
	  border:1px solid #ccc; 
	  height:22px; line-height:22px;
	  width:200px; 
	  background-color:#fff; 
	  text-indent:5px;
	  }


/*******show_product******/
.ms{margin-top:50px;margin-left:20px; }
.list_dis{min-height:500px; _height:500px; width:1000px;}
.ds_img{float:left; padding:5px; border:1px solid #ccc; border-radius:5px; width:280px; margin-right:40px;}
.ds_cont{float:right;width:620px;}
.ds_cont h4{font-size:16px; height:50px; line-height:50px; color:#333;}
.ds_cont p{height:30px; line-height:30px; color:#454545; font-size:12px;}
.ds_cont p span{color:#e9634e;}

/********p_person*******/
.p_person{text-align:center; vertical-align:middle; margin-top:10px;}

.left_box{width:720px;}
.nav{
	width:1000px;
    height:42px;
    line-height:42px;
    text-align:center;
    font-size:16px;
    position:relative;
    font-weight:450; 
    z-index:1000;
    text-align:center;
     margin:0 auto;
	 }
.nav a:link,.nav a:hover{ 
                         font-size:14px;
	                     color:#363636;
						 text-decoration:none;
						 }
/*nav-main*/
ul.nav-main{list-style-type:none; }
ul.nav-main span{display:inline-block;margin-left:18px;width:12px;height:9px; background:url(images/sj1.png) no-repeat center center}


/*导航条设置*/
ul.nav-main>li{width:133px;height:100%;display:block;float:left;margin-right:1px;cursor:pointer}
ul.nav-main>li:hover{ color:#222; margin-left:0px;}
ul.nav-main>li:hover span{ background:url(images/sg3.gif)  no-repeat center center; z-index:100000 }
/*隐藏盒子设置*/
div.hidden-box{
	          width:165px;
              position:absolute;
			  display:none;
			  background:#ffe6d9;		 
			  left:100px;
			  top:40px;
			  }
.hidden-box>ul{	            
	           width:165px;
			   list-style-type:none;
			   color:#fff;
			   cursor:pointer;
			   }
.hidden-box>ul li{ 
                line-height:40px; 
				height:40px; 
				font-weight:500;
				border-bottom:1px solid #ccc;
				width:165px;
				} 
.hidden-box li:hover{background:#fff;}

/*隐藏盒子位置设置*/
.hidden-loc-index{left:175px}
